[Desktop Entry]
Name=eXo
Comment=exoskeleton (GUI) for moc player
Exec=/usr/bin/exo-player
Icon=exo
Terminal=false
Type=Application
Categories=Qt;Audio;AudioVideo;
StartupNotify=true
