[Desktop Entry]
Categories=Qt;Audio;AudioVideo;
Exec=exo %U
TryExec=exo
Icon=exo
StartupNotify=true
Terminal=false
Type=Application
MimeType=audio/mpeg;application/ogg;application/x-ogg;audio/flac;audio/aac;audio/x-aac;audio/m4a;audio/x-m4a;

Name=eXo
Name[pt_BR]=Reprodutor de Multimídia eXo

GenericName=Audio player
GenericName[pt_BR]=Reprodutor de Multimídia

Comment=exoskeleton (GUI) for moc player
Comment[pt_BR]=Interface gráfica para o reprodutor de áudio MOC
