[Desktop Entry]
Comment[en_US]=
Comment=
Exec=mocp -S -O OnSongChange="/usr/bin/moc-osd"; mocp -l %s
GenericName[en_US]=
GenericName=
MimeType=audio/mpeg;application/ogg;application/x-ogg;audio/flac;audio/aac;audio/x-aac;audio/m4a;audio/x-m4a;
Name[en_US]=mocp
Name=mocp
NoDisplay=true
Icon=exo
StartupNotify=false
Terminal=false
Type=Application
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
